.articleSpace {
  width: auto;
  margin: 150px 150px;

  display: flex;
  color: var(--globalWhite);
  flex-wrap: wrap;
  justify-content: center;
}

.articleWrapper {
  width: 99%;
  margin: 0.1%;
  /* border: 1px solid rgba(5, 130, 131, 0.5); */
}

.title {
  text-align: left;

  font-weight: 800;
  font-size: 32px;
  font-family: 'Arial Black';
  margin: 50px auto;
  width: 100%;
}
