.article{
    margin: auto;
    width: 100%;
    height: 1000px;
    background: transparent;

    display: flex;
    flex-direction: column;
}

/*.article:hover{*/
/*    background-color: aqua;*/
/*    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
/*}*/

.articleWrapper{
    max-height: 500px;
    margin: auto;
    width: 100%;
    height: 100%;
    background: transparent;

    display: flex;
    justify-content: center;
    align-content: center;
}

.textWrapper{
    width: 50%;
    background: rgba(5, 130, 131, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 2%;
}

.title{
    color: #DFCCBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.description{
    color: #DFCCBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 300;
}

.mediaWrapper{
    width: 50%;
    height: 100%;
    background: rgba(131, 5, 39, 0.15);

    display: flex;
    flex-wrap: wrap;

    align-content: space-around;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    padding: 5%;

}

.mediaContent:bound-element{
    border: var(--globalButtonBorder);
    height: 100%;
    width: 100%;
    object-fit: contain;
}