/*"https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_cards"   card template*/
.title{
    display: block;
    font-weight: bolder;
    font-family: Montserrat;
}
.cover{
    align-self: center;
    display: flex;
    font-family: Montserrat;
}
.description{
    display: block;
    font-family: Montserrat;
}

.projCard{
    width: 20%;
    aspect-ratio: 1.3;
    margin: 16px;
    border-radius: 4px;
    background-color: #058283;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    justify-content: space-evenly;

}

.projCard:hover{
    background-color: aqua;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media (min-width: 992px) {

}