.projSpace{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    box-sizing: border-box;
    height: auto;
    margin: auto 150px;
    padding: 10px;
}

.title{
    color: var(--globalWhite);
    font-weight: bolder;
    font-size: 30px;
    font-family: "Arial Black";
    margin: 10px auto;
    width: 100%;
}