@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="text-align:center">
    <h1 class="display-4">Welcome</h1>
    <p>TEAM ENZY</p>
    <button href="/api/auth/user" onclick="alert('We are ENZY')">Login</button>
</div>